/* ======================== about-page ======================== */
.about-page {
	// .about-page__title

	&__title {
		max-width: 770px;
		margin: 0 auto 32px;
	}

	// .about-page__text

	&__text {
		max-width: 1160px;
		margin: 0 auto 44px;

		font-family: "Inter";
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 26px;
		text-align: center;
		color: #586e8e;

		@media (max-width: 480px) {
			font-size: 14px;
			line-height: 24px;
		}
	}
}
/* ======================== about-page end ==================== */
