/* ======================== equipment-page ======================== */
.equipment-page {
	// .equipment-page__title

	&__title {
		margin-bottom: 5px;
	}

	// .equipment-page__subtitle

	&__subtitle {
		margin-bottom: 50px;

		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #f78e9b;

		@media (max-width: 480px) {
			font-size: 13px;
			line-height: 18px;
		}
	}

	// .equipment-page__content

	&__content {
	}
}

.content-equipment {
	// .content-equipment__items

	&__items {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1110px) {
			flex-wrap: wrap;
		}
	}

	// .content-equipment__item

	&__item {
		&:first-child {
			flex: 0 0 585px;

			@media (max-width: 1110px) {
				flex: 0 1 100%;
				margin: 0 0 230px 0;
				order: 2;
			}
		}

		&:last-child {
			flex: 0 1 49%;

			@media (max-width: 1110px) {
				flex: 0 1 100%;
				margin-bottom: 70px;
			}
		}
	}

	// .content-equipment__btn

	&__btn {
		width: 250px;
		height: 60px;
		margin: 10px 38px 0 auto;
		padding: 11px 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: #ffffff;
		text-align: center;

		background: url(../image/intro/arrows.png), linear-gradient(90deg, #e86aad 0%, #5cbafe 100%);
		background-repeat: no-repeat;
		background-position: 9px, 0;
		background-size: auto auto, cover;

		box-shadow: 0px 10px 20px rgba(120, 132, 202, 0.49);

		&:hover {
			background: url(../image/intro/arrows.png), linear-gradient(90deg, #e86aad 0%, #b089cc 100%);
			background-repeat: no-repeat;
			background-position: 9px, 0;
			background-size: auto auto, cover;
		}

		@media (max-width: 1110px) {
			width: 260px;
			margin: 9px auto 20px;
		}

		@media (max-width: 320px) {
			height: 46px;
			padding: 0;
			
			font-size: 12px;
			line-height: 46px;
		}
	}
}
.item-content {
	// .item-content__border

	&__border {
		width: 100%;
		max-width: 330px;
		height: 326px;
		padding: 13px 10px;

		box-shadow: inset 0px 4px 20px rgba(92, 121, 162, 0.3);
		border-radius: 3px;

		background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #fae2e7;

		@media (max-width: 700px) {
			margin: 0 auto;
		}
	}

	// .item-content__body

	&__body {
		width: 100%;
		max-width: 310px;
		height: 300px;
		padding: 77px 25px 0;
		position: relative;

		box-shadow: 0px 2px 10px rgba(78, 127, 222, 0.49);
		border-radius: 3px;

		background: #ffffff;
	}

	// .item-content__image

	&__image {
		position: absolute;
		top: -54px;
		left: 18px;
		z-index: 1;

		img {
			width: 121px;
			height: 121px;
		}
	}

	// .item-content__title

	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		color: #293951;

		@media (max-width: 360px) {
			font-size: 16px;
		}
	}

	// .item-content__text

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 24px;
		color: #293951;

		@media (max-width: 360px) {
			font-size: 13px;
			line-height: 20px;
		}
	}

	// .item-content__view

	&__view {
		position: relative;
	}

	// .item-content__paragraph

	&__paragraph {
		margin-bottom: 30px;
		padding-left: 40px;
		position: relative;

		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 26px;
		color: #293951;

		&::before {
			content: url(../image/page/equipment/plus.svg);
			position: absolute;
			top: 3px;
			left: 0;
			z-index: 1;
		}

		span {
			font-weight: 700;
		}
	}
}
.view-content {
	// .view-content__image

	&__image {
		position: absolute;
		top: -320px;
		left: 222px;
		z-index: 1;

		@media (max-width: 1110px) {
			left: 40%;
		}

		@media (max-width: 700px) {
			top: -40px;
			left: 50%;
			-webkit-transform: translateX(-140px);
			-ms-transform: translateX(-140px);
			transform: translateX(-140px);
		}

		img {
			width: 348px;
			height: 480px;
			@media (max-width: 700px) {
				width: 186px;
				height: 260px;
			}
		}
	}

	// .view-content__video

	&__video {
		position: relative;
	}
}

.video-view {
	// .video-view__disk

	&__disk {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 26px;
		left: 100%;
		z-index: 2;
		-webkit-transform: translateX(-45%);
		-ms-transform: translateX(-45%);
		transform: translateX(-45%);

		border-radius: 50%;

		@media (max-width: 1110px) {
			left: 75%;
		}

		@media (max-width: 700px) {
			width: 150px;
			height: 150px;
			top: 60px;
			left: 50%;
			-webkit-transform: translateX(10px);
			-ms-transform: translateX(10px);
			transform: translateX(10px);
		}

		span {
			width: 0;
			padding-bottom: 78px;
			position: absolute;
			left: 50%;
			bottom: 50%;

			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;

			-ms-transform-origin: 0% 100%;
			-webkit-transform-origin: 0% 100%;
			transform-origin: 0% 100%;

			@media (max-width: 700px) {
				padding-bottom: 51px;

				font-size: 10px;
			}

			&:nth-child(1) {
				-ms-transform: rotate(-47deg);
				-webkit-transform: rotate(-47deg);
				transform: rotate(-47deg);
			}

			&:nth-child(2) {
				-ms-transform: rotate(-40deg);
				-webkit-transform: rotate(-40deg);
				transform: rotate(-40deg);
			}
			&:nth-child(3) {
				-ms-transform: rotate(-31deg);
				-webkit-transform: rotate(-31deg);
				transform: rotate(-31deg);
			}
			&:nth-child(4) {
				-ms-transform: rotate(-24deg);
				-webkit-transform: rotate(-24deg);
				transform: rotate(-24deg);
			}
			&:nth-child(5) {
				-ms-transform: rotate(-17deg);
				-webkit-transform: rotate(-17deg);
				transform: rotate(-17deg);
			}
			&:nth-child(6) {
				-ms-transform: rotate(-10deg);
				-webkit-transform: rotate(-10deg);
				transform: rotate(-10deg);
			}
			&:nth-child(7) {
				-ms-transform: rotate(-3deg);
				-webkit-transform: rotate(-3deg);
				transform: rotate(-3deg);
			}
			&:nth-child(8) {
				-ms-transform: rotate(4deg);
				-webkit-transform: rotate(4deg);
				transform: rotate(4deg);
			}
			&:nth-child(9) {
				-ms-transform: rotate(14deg);
				-webkit-transform: rotate(14deg);
				transform: rotate(14deg);
			}
			&:nth-child(10) {
				-ms-transform: rotate(21deg);
				-webkit-transform: rotate(21deg);
				transform: rotate(21deg);
			}
			&:nth-child(11) {
				-ms-transform: rotate(28deg);
				-webkit-transform: rotate(28deg);
				transform: rotate(28deg);
			}
			&:nth-child(12) {
				-ms-transform: rotate(36deg);
				-webkit-transform: rotate(36deg);
				transform: rotate(36deg);
			}
			&:nth-child(13) {
				-ms-transform: rotate(42deg);
				-webkit-transform: rotate(42deg);
				transform: rotate(42deg);
			}
			&:nth-child(14) {
				-ms-transform: rotate(52deg);
				-webkit-transform: rotate(52deg);
				transform: rotate(52deg);
			}
			&:nth-child(15) {
				-ms-transform: rotate(62deg);
				-webkit-transform: rotate(62deg);
				transform: rotate(62deg);
			}
			&:nth-child(16) {
				-ms-transform: rotate(69deg);
				-webkit-transform: rotate(69deg);
				transform: rotate(69deg);
			}
			&:nth-child(17) {
				-ms-transform: rotate(76deg);
				-webkit-transform: rotate(76deg);
				transform: rotate(76deg);
			}
			&:nth-child(18) {
				-ms-transform: rotate(83deg);
				-webkit-transform: rotate(83deg);
				transform: rotate(83deg);
			}
			&:nth-child(19) {
				-ms-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			&:nth-child(20) {
				-ms-transform: rotate(97deg);
				-webkit-transform: rotate(97deg);
				transform: rotate(97deg);
			}
			&:nth-child(21) {
				-ms-transform: rotate(107deg);
				-webkit-transform: rotate(107deg);
				transform: rotate(107deg);
			}
			&:nth-child(22) {
				-ms-transform: rotate(116deg);
				-webkit-transform: rotate(116deg);
				transform: rotate(116deg);
			}
			&:nth-child(23) {
				-ms-transform: rotate(122deg);
				-webkit-transform: rotate(122deg);
				transform: rotate(122deg);
			}
			&:nth-child(24) {
				-ms-transform: rotate(129deg);
				-webkit-transform: rotate(129deg);
				transform: rotate(129deg);
			}
			&:nth-child(25) {
				-ms-transform: rotate(133deg);
				-webkit-transform: rotate(133deg);
				transform: rotate(133deg);
			}
			&:nth-child(26) {
				-ms-transform: rotate(140deg);
				-webkit-transform: rotate(140deg);
				transform: rotate(140deg);
			}
			&:nth-child(27) {
				-ms-transform: rotate(146deg);
				-webkit-transform: rotate(146deg);
				transform: rotate(146deg);
			}
			&:nth-child(28) {
				-ms-transform: rotate(153deg);
				-webkit-transform: rotate(153deg);
				transform: rotate(153deg);
			}
			&:nth-child(29) {
				-ms-transform: rotate(161deg);
				-webkit-transform: rotate(161deg);
				transform: rotate(161deg);
			}
			&:nth-child(30) {
				-ms-transform: rotate(175deg);
				-webkit-transform: rotate(175deg);
				transform: rotate(175deg);
			}
			&:nth-child(31) {
				-ms-transform: rotate(183deg);
				-webkit-transform: rotate(183deg);
				transform: rotate(183deg);
			}
			&:nth-child(32) {
				-ms-transform: rotate(189deg);
				-webkit-transform: rotate(189deg);
				transform: rotate(189deg);
			}
			&:nth-child(33) {
				-ms-transform: rotate(195deg);
				-webkit-transform: rotate(195deg);
				transform: rotate(195deg);
			}
			&:nth-child(34) {
				-ms-transform: rotate(207deg);
				-webkit-transform: rotate(207deg);
				transform: rotate(207deg);
			}
			&:nth-child(35) {
				-ms-transform: rotate(214deg);
				-webkit-transform: rotate(214deg);
				transform: rotate(214deg);
			}
			&:nth-child(36) {
				-ms-transform: rotate(221deg);
				-webkit-transform: rotate(221deg);
				transform: rotate(221deg);
			}
		}
	}

	// .video-view__btn

	&__btn {
		width: 132px;
		height: 132px;
		padding: 16px;
		position: absolute;
		top: 60px;
		left: 100%;
		z-index: 3;
		-webkit-transform: translateX(-44%);
		-ms-transform: translateX(-44%);
		transform: translateX(-44%);

		border-radius: 50%;

		background: #eceff4;

		@media (max-width: 1110px) {
			left: 75%;
		}

		@media (max-width: 700px) {
			width: 80px;
			height: 80px;
			padding: 10px;
			top: 95px;
			left: 50%;
			-webkit-transform: translateX(44px);
			-ms-transform: translateX(44px);
			transform: translateX(44px);
		}
	}

	// .video-view__link

	&__link {
		width: 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		z-index: 30;

		border-radius: 50%;

		background: linear-gradient(0deg, #ffffff, #ffffff), rgba(241, 241, 241, 0.3);

		box-shadow: 0px 2px 10px rgba(78, 127, 222, 0.49);

		@media (max-width: 700px) {
			width: 60px;
			height: 60px;
		}

		i {
			font-size: 24px;
			text-align: center;

			background: linear-gradient(180deg, #e86aad 0%, #b089cc 100%);
			-webkit-background-clip: text;
			color: transparent;

			@media (max-width: 700px) {
				font-size: 18px;
			}
		}
	}
}
/* ======================== equipment-page end ==================== */
