/* ======================== page ======================== */
.page {
	padding-top: 133px;

	@media (max-width: 930px) {
		padding-top: 73px;
	}

	@media (max-width: 480px) {
		padding-top: 60px;
	}

	// .page__intro

	&__intro {
		width: 100%;
		padding-bottom: 150px;

		background-image: url(../image/intro/bg_intro.jpg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;

		@media (max-width: 480px) {
			padding-top: 130px;
		}

		@media (max-width: 320px) {
			padding-bottom: 80px;

			background-image: url(../image/intro/bg_intro320.jpg);
			background-size: 100% 95%;
		}
	}

	// .page__about

	&__about {
		width: 100%;
	}

	// .page__subject

	&__subject {
		padding-bottom: 90px;
	}

	// .page__advantages

	&__advantages {
		padding-bottom: 45px;

		@media (max-width: 1200px) {
			padding-bottom: 15px;
		}
	}

	// .page__zones

	&__zones {
		padding: 110px 0 60px;

		background-image: url(../image/page/zones/bg_zones1.png), url(../image/page/zones/bg_zones.svg),
			url(../image/page/zones/bg_zones2.png);
		background-repeat: no-repeat;
		background-position: 0 0, center 10px, bottom right;
		background-size: auto;

		@media (max-width: 800px) {
			background-image: url(../image/page/zones/bg_zones.svg);
			background-repeat: no-repeat;
			background-position: center 10px;
			background-size: auto;
		}
	}

	// .page__whom

	&__whom {
		padding-top: 44px;
	}

	// .page__prices

	&__prices {
		width: 100%;
		padding-bottom: 60px;
	}

	// .page__equipment

	&__equipment {
		padding-bottom: 150px;

		@media (max-width: 1110px) {
			padding-bottom: 50px;
		}
	}

	// .page__effect

	&__effect {
		padding: 45px 0 140px;

		background-image: url(../image/page/effect/bg_effect.png);
		background-repeat: no-repeat;
		background-position: 55% bottom;
		background-size: auto;

		@media (max-width: 1170px) {
			padding: 45px 0 11.97vw;

			background-size: 87.52vw auto;
		}

		@media (max-width: 1000px) {
			padding: 45px 0 60vw;
		}

		@media (max-width: 529px) {
			padding: 45px 0 268px;

			background-size: 402px auto;
		}
	}

	// .page__works

	&__works {
		padding: 30px 0 40px;
	}

	// .page__choice

	&__choice {
		padding: 50px 0 70px;

		background-image: url(../image/page/choice/bg_choice.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: auto;
	}

	// .page__questions

	&__questions {
		padding: 60px 0 30px;
	}

	// .page__reviews

	&__reviews {
		padding: 40px 0 90px;

		@media (max-width: 480px) {
			padding: 40px 0 30px;
		}
	}

	// .page__offers

	&__offers {
		min-height: 680px;
		padding: 40px 0 70px;

		background-image: url(../image/page/offers/bg_offers.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	// .page__specialists

	&__specialists {
		padding: 60px 0 80px;
	}

	// .page__request

	&__request {
		min-height: 770px;
		padding: 90px 0 110px;

		background-image: url(../image/page/request/bg_request.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;

		@media (max-width: 960px) {
			padding: 40px 0 50px;
		}
	}
}
/* ======================== page end ==================== */
