/* ======================== reviews-page ======================== */
.reviews-page {
	// .reviews-page__content

	&__content {
		width: 100%;
		padding-bottom: 42px;
		overflow: hidden;
	}
}

.content-reviews {
	// .content-reviews__title

	&__title {
		margin-bottom: 60px;
	}

	// .content-reviews__slider

	&__slider {
		min-width: 0;
	}
}

.slider-reviews {
	// .slider-reviews__container

	&__container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 15px;
		overflow: visible;
	}

	// .slider-reviews__wrapper

	&__wrapper {
	}

	// .slider-reviews__slide

	&__slide {
		width: 100%;
		height: 390px;
		padding: 40px 90px 32px 30px;

		opacity: 0.6;

		background: #ffffff;
		box-shadow: 0px 4px 16px rgba(88, 110, 142, 0.14);
		border-radius: 10px;

		@media (max-width: 1128px) {
			padding: 40px 7.98vw 32px 30px;
		}

		@media (max-width: 700px) {
			padding: 28px 25px 32px;
		}

		&.swiper-slide-active,
		&.swiper-slide-next {
			opacity: 1;
		}
	}

	// .slider-reviews__button

	&__button {
		top: 50%;

		@media (max-width: 1228px) {
			top: 98%;
		}

		@media (max-width: 480px) {
			top: 100%;
		}

		// .slider-reviews__button_prev

		&_prev {
			left: -15px;

			@media (max-width: 1228px) {
				left: 28%;
			}
		}

		// .slider-reviews__button_next

		&_next {
			right: -15px;

			@media (max-width: 1228px) {
				right: 28%;
			}
		}
	}
}

.slide-reviews {
	// .slide-reviews__body

	&__body {
		padding-left: 10px;
		position: relative;

		@media (max-width: 700px) {
			padding-left: 0px;
		}

		@media (max-width: 520px) {
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 80px;
				position: absolute;
				top: 220px;
				background: linear-gradient(360deg, #ffffff 15.06%, rgba(255, 255, 255, 0) 106.02%);
			}
		}
	}

	// .slide-reviews__source

	&__source {
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 22px;
		color: #586e8e;
	}

	// .slide-reviews__link

	&__link {
		font-weight: normal;
		color: #f78e9b;
		text-decoration: underline;
	}
}

.body-reviews {
	// .body-reviews__header

	&__header {
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 360px) {
			margin-bottom: 0;
		}
	}

	// .body-reviews__stars

	&__stars {
		margin-bottom: 24px;

		@media (max-width: 360px) {
			margin-bottom: 20px;
		}
	}

	// .body-reviews__text

	&__text {
		max-height: 200px;
		margin-bottom: 20px;

		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 22px;
		color: #586e8e;

		@media (max-width: 1128px) {
			overflow-y: scroll;
		}

		@media (max-width: 360px) {
			max-height: 220px;
		}
	}
}

.header-body {
	// .header-body__name

	&__name {
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #81a4e8;

		@media (max-width: 360px) {
			font-size: 13px;
		}
	}

	// .header-body__date

	&__date {
		padding-left: 25px;

		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 22px;
		color: #586e8e;

		background-image: url(../image/page/reviews/calendar.svg);
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: 16px auto;

		@media (max-width: 360px) {
			font-size: 10px;
		}
	}
}

.fa-star {
	font-size: 16px;

	@media (max-width: 360px) {
		font-size: 10px;
	}
}

.checked {
	color: #ffb932;
}

/* ======================== reviews-page end ==================== */
