/* ======================== subject-page ======================== */
.subject-page {
	// .subject-page__title

	&__title {
		margin-bottom: 8px;
	}

	// .subject-page__subtitle

	&__subtitle {
		margin-bottom: 29px;

		font-family: "Inter";
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		line-height: 26px;
		text-align: center;
		letter-spacing: 0.06em;
		color: #f78e9b;

		@media (max-width: 320px) {
			font-size: 12px;
		}
	}

	// .subject-page__arrow

	&__arrow {
		width: 24px;
		margin: 0 auto 22px;

		font-size: 28px;

		background: linear-gradient(90deg, #e86aad, #5cbafe);
		-webkit-background-clip: text;
		color: transparent;
	}

	// .subject-page__items

	&__items {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	// .subject-page__item

	&__item {
		flex: 0 1 33.333%;
		max-width: 370px;
		margin-bottom: 24px;
		padding: 0 10px;

		text-align: center;

		@media (max-width: 950px) {
			flex: 0 1 50%;
		}

		@media (max-width: 670px) {
			flex: 0 1 100%;
		}
	}

	// .subject-page__text

	&__text {
		font-family: "Inter";
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 22px;
		color: #586e8e;

		@media (max-width: 480px) {
			font-size: 13px;
			line-height: 18px;
		}
	}
}
/* ======================== subject-page end ==================== */
